.ui-widget li{
	margin:20px 0px;
}
.subform{
	list-style:none;
}
a.ui-datepicker-prev.ui-corner-all, a.ui-datepicker-next.ui-corner-all {
    display: none;
}
.ui-widget-content .ui-state-default{
	background-color:darkseagreen;
	background-image: none !important;
}
.ui-datepicker-week-end .ui-state-default {
    background-color: yellow;
}
.ui-datepicker-unselectable{
	background-color:darkgray;
}