.ui-widget li{
	margin:20px 0px;
}
.subform{
	list-style:none;
}
.ui-datepicker-inline a.ui-datepicker-prev.ui-corner-all, .ui-datepicker-inline a.ui-datepicker-next.ui-corner-all {
    display: none;
}
.ui-datepicker-inline .ui-datepicker-calendar .ui-state-default{
	background-color:darkseagreen;
	background-image: none !important;
}
.ui-datepicker-inline .ui-datepicker-calendar .ui-datepicker-week-end .ui-state-default {
    background-color: yellow;
}
.ui-datepicker-inline .ui-datepicker-calendar .ui-datepicker-unselectable{
	background-color:darkgray;
}
.ui-datepicker-inline.ui-datepicker.ui-widget.ui-widget-content.ui-helper-clearfix.ui-corner-all.ui-datepicker-multi {
    border: none !important;
}
.ui-datepicker-inline .ui-datepicker-group {
    width: 75% !important;
}